<app-nav-bar></app-nav-bar>

<div class="container" id="about-container">
    <h1>About</h1><br><br>
    <div class="container center-align">
        <h3>
            We are Engineers.
        </h3>
        <h3>
            We are NYU students.
        </h3>
        <h3>
            We are Biomedical Engineers.
        </h3>
        <h3>
            We are Software Engineers.
        </h3>
        <h3>
            We are Chemical Engineers.
        </h3>
        <h3>
            We are Entrepreneurs.
        </h3>
        <h3>
            We are Excited.
        </h3>
    </div><br><br>
</div>

<app-footer></app-footer>
