<app-nav-bar></app-nav-bar>
<body>
    <div class="container">
        <h1>Lorem Ipsum</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, convallis ac porttitor in, volutpat eget neque. Fusce ultricies fermentum purus eu commodo. Vivamus dictum nec mi non iaculis. Fusce enim purus, bibendum nec placerat sed, venenatis eu lacus. Curabitur maximus consectetur ante, sed rutrum libero malesuada eget. Ut interdum convallis arcu, quis congue libero facilisis in. Aliquam euismod at odio in vehicula. Donec lobortis eros tempor efficitur vulputate. Aliquam lobortis pharetra augue auctor vulputate. Nunc eget dui eu elit suscipit gravida a eget metus. Nam nec turpis sed turpis rutrum venenatis a a neque. Sed suscipit ipsum elit. Aenean ornare eu tellus quis luctus. Vestibulum convallis enim ac diam ornare, sed imperdiet lectus laoreet.
        </p>
        <h2> elit. Se</h2>
        <p>
            mus ac sagittis velit, a semper lectus. Suspendisse ut imperdiet lectus. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor lacus venenatis quis. Aenean metus erat, auctor at sapien a,
        </p>
        <h3> pellente </h3>
        <p>
            us. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor l
        </p>
        <h1>About</h1>
        <p>
            mus ac sagittis velit, a semper lectus. Suspendisse ut imperdiet lectus. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor lacus venenatis quis. Aenean metus erat, auctor at sapien a,
        </p>

        <h1>The Team</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, convallis ac porttitor in, volutpat eget neque. Fusce ultricies fermentum purus eu commodo. Vivamus dictum nec mi non iaculis. Fusce enim purus, bibendum nec placerat sed, venenatis eu lacus. Curabitur maximus consectetur ante, sed rutrum libero malesuada eget. Ut interdum convallis arcu, quis congue libero facilisis in. Aliquam euismod at odio in vehicula. Donec lobortis eros tempor efficitur vulputate. Aliquam lobortis pharetra augue auctor vulputate. Nunc eget dui eu elit suscipit gravida a eget metus. Nam nec turpis sed turpis rutrum venenatis a a neque. Sed suscipit ipsum elit. Aenean ornare eu tellus quis luctus. Vestibulum convallis enim ac diam ornare, sed imperdiet lectus laoreet.
        </p>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Shadab Hassan | M.S Biomedical Engineering | Multidisciplinary research experience in Academia and Industry
                        </span>
                    </div>
                </div>
            </div>
         </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Jai Rathore | M.S Biomedical Engineering | Experience of working in industry and academic labs | Market Researcher 
                        </span>
                    </div>
                </div>
            </div>
         </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Zishan Iqbal | B.S Biomedical Science/Science and Technology Studies | Pharmaceutical research and communications
                        </span>
                    </div>
                </div>
            </div>
         </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Mohammed Yaseen | B.S Chemical Engineering | Engineering	
                        </span>
                    </div>
                </div>
            </div>
         </div>

        <div class="col s12 m8 offset-m2 l6 offset-l3">
            <div class="card-panel grey lighten-5 z-depth-1">
                <div class="row valign-wrapper">
                    <div class="col s2">
                        <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
                    </div>
                    <div class="col s10">
                        <span class="black-text">
                            Syed Aman | B.S Computer Science | Full Stack Developer | Mobile/Web developer
                        </span>
                    </div>
                </div>
            </div>
         </div>

        <img class="responsive-img" id="about-img-1" src="../../assets/img/accumulab.png">
        <img class="responsive-img" id="about-img-2" src="../../assets/img/jai.png">
        <img class="responsive-img" id="about-img-3" src="../../assets/img/presentation_day.png">

        <h1>Contact Us</h1>
        <p>
            us. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor l
        </p>
    </div>
</body>
<app-footer></app-footer>
