<app-nav-bar></app-nav-bar>
<body>
    <div class="container">
        <h1>Lorem Ipsum</h1>
        <p>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, convallis ac porttitor in, volutpat eget neque. Fusce ultricies fermentum purus eu commodo. Vivamus dictum nec mi non iaculis. Fusce enim purus, bibendum nec placerat sed, venenatis eu lacus. Curabitur maximus consectetur ante, sed rutrum libero malesuada eget. Ut interdum convallis arcu, quis congue libero facilisis in. Aliquam euismod at odio in vehicula. Donec lobortis eros tempor efficitur vulputate. Aliquam lobortis pharetra augue auctor vulputate. Nunc eget dui eu elit suscipit gravida a eget metus. Nam nec turpis sed turpis rutrum venenatis a a neque. Sed suscipit ipsum elit. Aenean ornare eu tellus quis luctus. Vestibulum convallis enim ac diam ornare, sed imperdiet lectus laoreet.
        </p>
        <h2> elit. Se</h2>
        <p>
            mus ac sagittis velit, a semper lectus. Suspendisse ut imperdiet lectus. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor lacus venenatis quis. Aenean metus erat, auctor at sapien a,
        </p>
        <h3> pellente </h3>
        <p>
            us. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor l
        </p>
        <h1>About</h1>
        <p>
            mus ac sagittis velit, a semper lectus. Suspendisse ut imperdiet lectus. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor lacus venenatis quis. Aenean metus erat, auctor at sapien a,
        </p>
        
        <app-team></app-team>

        <h1>Contact Us</h1>
        <p>
            us. Vestibulum dui dolor, hendrerit pulvinar aliquet volutpat, dapibus ac quam. Cras non tortor pulvinar, rutrum neque a, scelerisque sapien. Morbi consectetur nec ligula vel rutrum. Proin scelerisque, sapien ut tincidunt faucibus, leo arcu pellentesque metus, at tristique diam dolor ut massa. Nulla aliquet ipsum euismod pellentesque faucibus. Quisque non nisi nec ex ultrices bibendum tempus ac dui. Fusce porta magna nisl, a tempor l
        </p>
    </div>
</body>
<app-footer></app-footer>
