<div class="navbar-fixed">
  <nav class="orange darken-2" id="navbar" role="navigation">
    <div class="nav-wrapper container">
      <a class="left brand-logo" id="logo-container" routerLink="/home">Accumulab</a>
      <ul class="right" id="navbar-links">
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/team">Team</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/about">About</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/contact">Contact Us</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/blog">Blog</a></li>
      </ul>
    </div>
  </nav>
</div>