<div class="navbar-fixed">
  <nav class="orange darken-2" id="navbar" role="navigation">
    <div class="nav-wrapper container">
      <a class="left brand-logo" id="logo-container" routerLink="/home">Accumulab</a>
      <ul class="right" id="navbar-links">
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/home">Product</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/home">Plans</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/team">Team</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/about">About</a></li>
        <li><a class="teal lighten-1 waves-effect waves-light btn" routerLink="/contact">Contact Us</a></li>
        <!-- Dropdown Trigger -->
        <li><a class="waves-effect waves-light btn dropdown-button" routerLink="/blog" data-activates="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
      </ul>
    </div>
  </nav>
</div>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a routerLink="/home">NYU Healthcare Makerthon</a></li>
  <li><a routerLink="/home">InnoVention: Team Hunt 1</a></li>
  <li class="divider"></li>
  <li><a routerLink="/home">NYUEIA: What's next for Artificial Intelligence</a></li>
</ul>
