<nav class="orange darken-2" id="navbar" role="navigation">
  <div class="nav-wrapper container">
    <a class="left brand-logo" id="logo-container" href="#home">Accumulab</a>
    <ul class="right" id="navbar-links">
      <li><a class="teal lighten-1 waves-effect waves-light btn" href="#about">Product</a></li>
      <li><a class="teal lighten-1 waves-effect waves-light btn" href="#about">Plans</a></li>
      <li><a class="teal lighten-1 waves-effect waves-light btn" href="#about">Docs</a></li>
      <li><a class="teal lighten-1 waves-effect waves-light btn" href="#about">About Us</a></li>
      <li><a class="waves-effect waves-light btn" href="#contact">Contact</a></li>
      <!-- Dropdown Trigger -->
      <li><a class="waves-effect waves-light btn dropdown-button" href="#!" data-activates="dropdown1">Blog<i class="material-icons right">arrow_drop_down</i></a></li>
    </ul>
  </div>
</nav>

<!-- Dropdown Structure -->
<ul id="dropdown1" class="dropdown-content">
  <li><a href="/blog/#nyuhealthcaremakerthon">NYU Healthcare Makerthon</a></li>
  <li><a href="/blog/#InnoVention Team Hunt 1">InnoVention: Team Hunt 1</a></li>
  <li class="divider"></li>
  <li><a href="/blog#/NYUEIA What's next for Artificial Intelligence">NYUEIA: What's next for Artificial Intelligence</a></li>
</ul>
