<!-- Landing Page -->
<body class="teal lighten-2">
  <div class="container" id="landing-page">

    <!-- Logo -->
    <div class="center-align" id="logo-container">
      <a href="" class="brand-logo"><img src="../../assets/img/accumulab_logo.png"></a>
    </div>

    <!-- Main text -->
    <div class="container center" id="">
      <h5 class="white-text no-margin">
        Accumulab
      </h5>
      <p class="white-text no-margin">
        Reinvision the Lab Notebook of the 21st Century
      </p>
    </div>

    <!-- Sign In & Sign Up-->
    <div class="center-align" id="login-signup-container">
      <a class="orange waves-effect waves-light btn" href="/home">Login</a>
      <a class="orange waves-effect waves-light btn-large" href="/signup">Sign Up</a>
    </div>

  </div>
</body>
