<app-nav-bar></app-nav-bar>

<div class="container" id="blog-container">

    <!-- NYU Healthcare Makerthon -->
    <div class="container" id="nyu-healthcare-makerthon-container">
        <h1 class="center-align">NYU Healthcare Makerthon</h1>
        <h3 class="center-align">When it all started</h3>
        <div class="row">
            <div class="card">
                <div class="card-image">
                    <img src="../../assets/img/accumulab_day1.png">
                    <span class="card-title">Day 1</span>
                </div>
                <div class="card-content">
                    <p>
                        First day of NYU Healthcare Makerthon
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../../assets/img/accumulab_presentation_day.png">
                    <span class="card-title">Presentation Day</span>
                </div>
                <div class="card-content">
                    <p>
                        Presentation day of NYU Healthcare Makerthon
                    </p>
                </div>
            </div>
            <div class="card">
                <div class="card-image">
                    <img src="../../assets/img/accumulab_day2.png">
                    <span class="card-title">Day 2</span>
                </div>
                <div class="card-content">
                    <p>
                        Jai Rathore and Shadab Hassan hard at work at Day 2 of the NYU Healthcare Makerthon
                    </p>
                </div>
            </div>
        </div>
    </div>

    <!-- NYUEIA: What's next for Artificial Intelligence -->
    <div class="container">
        <h1 class="center-align">NYUEIA</h1>
        <h3 class="center-align">What's next for Artificial Intelligence</h3>
        <div class="row">
        </div>
    </div>

</div>

<app-footer></app-footer>