/* You can add global styles to this file, and also import other style files */

/* Global Variables */

$primary: #FF9800;
$primary-dark: #F57C00;
$primary-light: #FFB74D;

// Spinning circle during app load
#loading-circle{
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translateY(500%);
}
