<h1>The Team</h1>
<h5> We are engineers</h5>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/shadab.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Shadab Hassan | M.S Biomedical Engineering | Multidisciplinary research experience in Academia and Industry
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/jai.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Jai Rathore | M.S Biomedical Engineering | Experience of working in industry and academic labs | Market Researcher 
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/zishan.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Zishan Iqbal | B.S Biomedical Science/Science and Technology Studies | Pharmaceutical research and communications
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/mohammed.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Mohammed Yaseen | B.S Chemical Engineering | Engineering	
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/syed.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Syed Aman | B.S Computer Science | Full Stack Developer | Mobile/Web developer
                </span>
            </div>
        </div>
    </div>
</div>
