<h1>The Team</h1>
<p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed nisi metus, convallis ac porttitor in, volutpat eget neque. Fusce ultricies fermentum purus eu commodo. Vivamus dictum nec mi non iaculis. Fusce enim purus, bibendum nec placerat sed, venenatis eu lacus. Curabitur maximus consectetur ante, sed rutrum libero malesuada eget. Ut interdum convallis arcu, quis congue libero facilisis in. Aliquam euismod at odio in vehicula. Donec lobortis eros tempor efficitur vulputate. Aliquam lobortis pharetra augue auctor vulputate. Nunc eget dui eu elit suscipit gravida a eget metus. Nam nec turpis sed turpis rutrum venenatis a a neque. Sed suscipit ipsum elit. Aenean ornare eu tellus quis luctus. Vestibulum convallis enim ac diam ornare, sed imperdiet lectus laoreet.
</p>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Shadab Hassan | M.S Biomedical Engineering | Multidisciplinary research experience in Academia and Industry
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Jai Rathore | M.S Biomedical Engineering | Experience of working in industry and academic labs | Market Researcher 
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Zishan Iqbal | B.S Biomedical Science/Science and Technology Studies | Pharmaceutical research and communications
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Mohammed Yaseen | B.S Chemical Engineering | Engineering	
                </span>
            </div>
        </div>
    </div>
  </div>

<div class="col s12 m8 offset-m2 l6 offset-l3">
    <div class="card-panel grey lighten-5 z-depth-1">
        <div class="row valign-wrapper">
            <div class="col s2">
                <img src="../assets/img/pro_pic.jpg" alt="" class="circle responsive-img"> <!-- notice the "circle" class -->
            </div>
            <div class="col s10">
                <span class="black-text">
                    Syed Aman | B.S Computer Science | Full Stack Developer | Mobile/Web developer
                </span>
            </div>
        </div>
    </div>
</div>
