<app-nav-bar></app-nav-bar>

<div class="container">

  <h1> Why Accumulab? </h1>

  <div class="row">
    <div class="card">
        <div class="card-image">
            <img src="../../assets/img/accumulab_day1.png">
            <span class="card-title">Day 1</span>
        </div>
        <div class="card-content">
            <p>
                First day of NYU Healthcare Makerthon
            </p>
        </div>
    </div>
  </div>

  <!-- Promos -->
  <div class="container">

    <!-- UX/UI Showcase -->
    <div class="row">

      <div class="col s4">
        <h3 class="center-align">Easy</h3>
        <img class="responsive-img" src="../../assets/img/AC_Protocols_Voice.png">
      </div>

      <div class="col s4">
        <h3 class="center-align">Free</h3>
        <img class="responsive-img" src="../../assets/img/AC_Sign Up.png">
      </div>

      <div class="col s4">
        <h3 class="center-align">Secure</h3>
        <img class="responsive-img" src="../../assets/img/Accumulab.png">
      </div>

      <div class="col s4">
        <h3 class="center-align">Easy</h3>
        <img class="responsive-img" src="../../assets/img/AC_Sign Up_Transparent.png">
      </div>

      <div class="col s4">
        <h3 class="center-align">Free</h3>
        <img class="responsive-img" src="../../assets/img/AC_Sign Up.png">
      </div>

      <div class="col s4">
        <h3 class="center-align">Secure</h3>
        <img class="responsive-img" src="../../assets/img/Create new experiment.png">
      </div>

    </div>
    <!-- End UX/UI Showcase -->

</div>

<app-footer></app-footer>