<app-nav-bar></app-nav-bar>

<div class="container">
  <h1> cursus. Nullam </h1>
  <p> pharetra vehicula arcu cursus. Nullam sed elit laoreet dolor sollicitudin dapibus eget non diam. Nulla quis mi et ipsum
    gravida maximus. Mauris sagittis consectetur accumsan. Nulla laoreet porta nulla eu egestas. Aliquam vulputate, metus
    ut sollicitudin sodales, justo libero condimentum erat, sit amet sagittis turpis odio vitae eros. In viverra ipsum magna,
    vel convallis erat ullamcorper ac. Mauris dignissim purus nisl, id sagittis massa bibendum nec. Vivamus id est viverra,
    tincidunt lorem vel, mattis magna. Pellentesque lacus lorem, aliquam id massa quis, lobortis lobortis ante. Ut rhoncus,
    nisl in molestie accumsan, sapien metus tincidunt ipsum, at lobortis lorem ipsum auctor erat. Aliquam nulla nulla, varius
    non euismod at, pretium a orci. Interdum et malesuada fames ac ante ipsum primis in faucibus. Sed imperdiet urna a leo
    dap</p>
</div>

<app-footer></app-footer>